/*Here's how the app should look.*/

body {
  font-family: 'Special Elite', cursive;
  background-color: rgb(255, 215, 55);
  font-size: 40pt;
}

button {

  margin: 5px;
}

.btn-group {
    display: flex;
    flex-grow: 2;
    justify-content: right;
  
}

.form-group {
  margin-top: 20px;
}

.chirp {
  margin-top: 15px;
}

.canary {
  text-align: center;
}


h2 {
  text-align: center;
  font-size: 150%;
  
}


.list-group-item {
  background: none;
  border: black 3px solid;
  border-left: black 11px solid;
  border-right: black 9px solid;
  font-size: 70%;
/*compliment display area redesign color rgb(255, 194, 10) */


}

.btn{
  color: black;
  background: none;
  border: 4px black solid;
  border-radius: 0;
} /*redesigned button color: rgb(253, 222, 9) */


.btn:hover, .btn:focus, .btn:active {
  background: none;
  background-color: rgb(240, 185, 0);	
}

.btn:active {
  color: white;
}

img {
  
  max-width: 40%;
  }




/** Media queries to insure a positive experience for accessing on a multitude of devices **/



@media (min-width: 418px) {
  h2 {
      font-size: 2.5em;
  }

  img {
    max-width: 55%;
  }
 
}

@media (min-width: 800px) {

  h2 {
      font-size: 3em;
  }
 

  
}

@media (max-width: 1000px) {
  
  img { 
    max-width: 70% 
  }
  
}






