
body {
  font-family: 'Special Elite', cursive;
  background-color: rgb(255, 215, 55);
  font-size: 1.5em;
}

.button {

  margin: 5px;
}

button.float-right {

  margin: 5px;
}

.clearfix {
  margin: 0;
  float: right;
}

h2 {
  text-align: center;
  font-size: 150%;
  
}


.list-group-item {
  background: none;
  border: black 3px solid;
  border-left: black 11px solid;
  border-right: black 9px solid;
  font-size: 70%;


}

.btn{
  color: black;
  background: none;
  border: 4px black solid;
  border-radius: 0;
}


.btn:hover, .btn:focus, .btn:active {
  background: none;
  background-color: rgb(240, 185, 0);	
}

.btn:active {
  color: white;
}

img {
  max-height: 100vh;
}


form {
  padding-right: 30%;
}


/** Media queries to insure a positive experience for accessing on a multitude of devices **/

@media (min-width: 418px) {
  h2 {
      font-size: 2.5em;
  }
 
}

@media (min-width: 800px) {

  h2 {
      font-size: 3em;
  }
 

  
}

@media (max-width: 800px) {
  .list-group-item {
      text-align: center;
      
  }

  span {
      align-content: center;
  }
}




