/*Here's how the app should look.*/

  body {
    font-family: 'Special Elite', cursive;
    background-color: rgb(252, 213, 17);
    font-size: 14pt;
  }

  button {
    width: 99%;
    height: 50px;  
    text-align: center;  
  }

  .group {
    margin-top: 5%;
    display: block;
    width: 100%;
  }

  .und  {
    margin-top: 3%;
  }

  textarea {
    padding: 3%;
  }
  
  .chirp {
    margin: 4% 0% 3% 0.5%;
  }
  
  .canary {
    text-align: center;
  }

  h2 {
    margin: 5% 2% 2% 2%;
    text-align: center;
    font-size: 40pt;
  }

  .expand {
    background: none;
    border: none;
    font-size: inherit;
    border-radius: 0;
    margin: 6% 0;
    align-self: center;
    background-color: rgb(252, 213, 17);
    -webkit-box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
    box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
  }

  .list-group-item {
    background: none;
    background-color: rgb(247, 203, 18);
    margin: 3%;
    padding: 3%;
    -webkit-box-shadow: -1px 0px 23px 0px rgba(0, 0, 0,1);
    -moz-box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
    box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
}

  .btn{
    color: black;
    font-size: 20pt;
    background: none;
    background-color: rgb(244, 216, 9);
    border: 4px black solid;
    border-radius: 0;
  } 
  
  
  .btn:hover, .btn:focus, .btn:active {
    background: none;
    color:  rgb(253, 222, 9);
    background-color: black;	
  }
  
  .btn:active {
    color:  rgb(253, 222, 9);
    background: none;
    background-color: black;
    border-color: rgb(253, 222, 9);
  }

  .thing {
    background-color: rgb(247, 180, 13);
    margin: 1%;
    padding: 2% 1%;
    -webkit-box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
    -moz-box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
    box-shadow: -1px 0px 23px 0px rgba(0,0,0,1);
  }

  .texted {
    margin: 2%;
    padding: 1%;
  }

  .time {
    margin: 2%;
    padding: 1%;
  }
  
  img {
    max-width: 40%;
    }

  @media (max-width: 376px) {
    h2 {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
  }

  @media (min-width: 560px) {
    body {
      font-size: 17pt;
    }
    .group {
      margin-top: 1%;
      display: flex;
      align-content: stretch; 
    }

    h2 {
      font-size: 45pt;
    }

    button.und {
      margin: 3%;
      height: 79px;
      padding: 1%;
      font-size: 25pt;
      text-align: center;
    }
    
    .chirp {
      width: 185px;
      height: 79px;
      padding: 1.5%;
      margin: 3%;
      font-size: 30pt;
      text-align: center;
    }

    .form-group {
      text-align: center;
    }

    .list-group-item {
      margin: 5%;
      padding: 2%;
    }

    .btn {
      border: 6px black solid;
    }
  }

  @media (min-width: 739px) {
    .chirp {
      width: 200px;
      height: 79px;
      margin: 0;
      font-size: 30pt;
    }

    button.group {
      margin: 0.9%;
      padding: 1%;
      font-size: 25pt
    }

    h2 {
      font-size: 55pt;
      
    }
  } 